/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on tablet devices */


body {
  font-size: 93.8%;
}
.nav li a, .nav ul.menu li a {
  font-size: 12px;
}
#phone .region-phone .content p {
  font-size: 14px;
}
.sidebar h2 {
  font-size: 16px;
}
#block-views-categories-block .content h3 a {
  font-size: 18px;
}

#block-views-categories-block .content .views-row a {
  font-size: 12px;
}

.front #block-views-product-block-block-5 .views-field-field-view img {
  margin-top: 5%;
}

.view-categories .views-field-nid .field-content {
  font-size: 12px;
}

#block-views-product-block-block-3 .views-row .views-field-title a,
#block-views-product-block-block-3 .views-field-commerce-price {
  font-size: 16px;
}

#block-views-product-block-block-3 .views-field-field-commerce-saleprice {
  font-size: 20px;
}

#block-views-product-block-block-4 .text-block .custom-time {
  font-size: 14px;
}

#block-views-product-block-block-4 .text-block .custom-subject {
  font-size: 25px;
}

#content h2 {
  font-size: 36px;
  padding: 20px;
}

.front #block-views-product-block-featured-products .views-field-title a,
.front #block-views-product-block-new-products .views-field-title a {
  font-size: 14px;
}

.front #block-views-product-block-featured-products .views-field-commerce-price,
.front #block-views-product-block-new-products .views-field-commerce-price {
  font-size: 24px;
}

#block-views-slideshow-partners-block-2 h2 {
  font-size: 22px;
}

#footer-wrapper #footer-columns {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#footer-columns .block h2 {
  font-size: 20px;
  text-align: center;
}

#footer-columns p,
#footer-wrapper #footer-columns .content li a,
#footer-wrapper a {
  font-size: 14px;
}

#block-block-2 {
  padding: 20px;
}

#triptych .region h2 {
  font-size: 20px;
}

#block-views-product-block-block-4 .text-block .custom-details a {
  font-size: 13px;
}

#second-footer #footer-columns p {
  margin-left: 15px;
  font-size: 14px;
}

#second-footer .region-footer-2-thirdcolumn {
  margin-right: 15px;
}

#second-footer #footer-columns .content li a {
  font-size: 14px;
}

#menu {
  margin-bottom: 20px;
}

.line .views-field-commerce-price,
.line .view-product-display .views-row a {
  font-size: 14px;
}

.line .product-title-description .views-field-body .field-content {
  font-size: 12px;
}

#block-block-3 a,
#block-views-product-block-top-products {
  text-align: center;
}

.page-node-35 #block-views-our-team-block .views-field-field-staff-position {
  top: 25%;
}

.page-node-35 #block-views-our-team-block .views-field-field-staff-name {
  top: 35%;
}

.page-node-35 #block-views-our-team-block .views-field-body {
  top: 45%;
}

.page-node-34 .field-item p iframe {
  height: 350px;
}

.page-node-51 #block-views-info-block-block-1 .views-field-body {
  font-size: 13px;
  top: 40%;
}

.page-node-34 tr td,
.page-node-34 tr th {
  font-size: 14px;
}

.page-node-34 #block-webform-client-block-33 {
  margin-left: 50%;
  width: 50%;
}

.page-node-34 #block-block-13 {
  width: 45%;
}

#block-system-main .view-header {
  display: none;
}

.one-sidebar .sidebar {
  width: 100%;
}

#content-column, .content-column, div.sidebar {
  clear: none;
}

.sidebar-first .content-inner {
  margin-left: 0;
}

.grid-mode .product-row {
  margin-right: 5%;
  width: 30%;
  float: left;
  padding-bottom: 20px;
}

.region-sidebar-first {
  margin-left: 0;
}

#featured div.section, #messages div.section, #main, #messages, #columns, #triptych, #footer-columns, #footer, #partners, #breadcrumb, #header-wrapper {
  padding: 0 30px;
}

/*# sourceMappingURL=responsive.tablet.landscape.css.map */
