/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on tablet devices */
body {
  font-size: 93.8%;
}

#featured div.section,
#messages div.section,
#main,
#messages,
#columns,
#triptych,
#footer-columns,
#footer,
#partners,
#breadcrumb,
#header-wrapper {
  padding: 0 30px;
}

#menu-wrapper {
  padding: 0 17px;
}

#content h2 {
  font-size: 36px;
  padding-bottom: 20px;
}

.front #content {
  margin-left: 0;
}

#site-name {
  font-size: 36px;
  line-height: 1;
  color: #686868;
}

#menu {
  margin-bottom: 20px;
}

.front #menu,
.page-node-35 #menu {
  margin-bottom: 0px;
}

#slider {
  margin-left: auto;
  margin-right: auto;
}

#main-content,
.block-inner {
  margin: 0;
}

#name-and-slogan {
  margin: 35px 0 25px 0px;
}

#block-views-product-block-block-4 {
  display: none;
}

#block-login-register-block-custom-login-register {
  clear: none;
  display: block;
  width: auto;
  margin: 0 10px;
  margin-bottom: 9px;
}

.region-header #block-search-form .form-text {
  min-width: 57%;
}

#header-wrapper #search-block-form input.form-submit {
  font-size: 12px;
  min-width: 88px;
}

.region-header {
  color: #fff;
}

#branding {
  float: left;
}

.region-header #block-search-form {
  min-width: 260px;
}

#phone {
  float: left;
  height: 50px;
  margin-left: 10px;
}

#phone,
#phone .content {
  margin-top: 0;
}

#phone .region-phone .content p {
  margin: 4px 0 0 0;
  font-size: 14px;
}

.nav li a,
.nav ul.menu li a {
  border-bottom: 0;
}

.show-menu .primary-menu-wrapper {
  display: block;
  position: absolute;
  z-index: 999;
  top: 50px;
  background: #363a46;
  border: solid 1px #717070;
  right: 0px;
  width: 30%;
  min-width: 200px;
  z-index: 9999;
}

.show-menu .primary-menu-wrapper ul.menu {
  width: 100%;
}

.show-menu .primary-menu-wrapper ul.menu li {
  height: 50px;
}

.show-menu .primary-menu-wrapper ul.menu li,
.show-menu .primary-menu-wrapper ul.menu li a {
  float: none;
  display: block;
  text-align: center;
}

.show-menu .primary-menu-wrapper ul.menu li a:hover {
  border-bottom: 0;
}

.show-menu .primary-menu-wrapper ul.menu .menu-attach-block-drop-link {
  display: none;
}

.primary-menu li a.active {
  color: #5cd27e;
}

.primary-menu li a:hover,
.primary-menu li a:focus {
  border-bottom: solid 3px #5ad384;
  color: #5cd27e;
  background: none;
  font-weight: 700;
}

#block-block-11 {
  margin-top: 13px;
}

.icon-phone-white {
  padding-left: 10px;
  background: url('../images/phone.png') no-repeat;
  background-position: 5px 4px;
}

.payment-method {
  background: url(../images/payment-method-tablet.png) no-repeat;
  height: 80px;
  width: 152px;
  margin-left: auto;
  margin-right: auto;
}

#page-title {
  text-align: center;
}

.page-node-51 #content h2 {
  margin-bottom: 20px;
}

.page-node-51 #block-views-faq-block {
  margin-top: 20px;
}

.front #block-views-product-block-block-5 {
  top: 5%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 269px;
  padding: 19px 10px;
}

.front .region-slider {
  position: relative;
}

.front #block-views-slideshow-block-1 {
  position: relative;
  margin-bottom: 21px;
}

.front #block-views-product-block-block-5 h2 {
  font-size: 14px;
  margin-bottom: 6px;
}

.front #block-views-product-block-block-5 .views-field-title a {
  font-size: 35px;
}

.front #block-views-product-block-block-5 .views-field.views-field-field-product-of-the-day {
  margin-bottom: 9px;
}

#block-views-product-block-block-2 .views-field-nothing .field-content,
#block-views-product-block-block-1 .views-field-nothing .field-content {
  font-size: 16px;
}

.page-node-35 .views-field-field-product-of-the-day,
.front #block-views-product-block-block-5 .views-field-field-product-of-the-day {
  font-size: 14px;
}

.front #block-views-product-block-block-5 .views-field-nothing .field-content a {
  font-size: 15px;
}

.front #block-views-slideshow-block-1 .views-field-body {
  display: none;
  font-family: OpenSans;
  color: #000000;
}

.front #block-views-product-block-block-5 .views-field-field-product-of-the-day {
  font-family: OpenSans;
  color: #000000;
}

.page-node-35 .owl-theme .owl-controls .owl-page.active span,
.front #block-views-slideshow-block-1 .owl-theme .owl-controls .owl-page.active span {
  border: 0;
  opacity: 0.9;
  background: #54d682;
  border: 1px solid #fff;
}

.owl-theme .owl-controls.clickable .owl-page span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 0.9;
  background: none;
  border: 1px solid #fff;
}

.page-node-35 #slider .owl-theme .owl-buttons,
.front #slider .owl-theme .owl-buttons {
  display: none;
}

.page-node-35 #slider .owl-theme .owl-controls,
.front #slider .owl-theme .owl-controls {
  bottom: 35px;
}

.line .views-field-commerce-price {
  font-size: 14px;
}

.line .product-title-description {
  font-size: 13px;
}

.front #block-views-product-block-block-1,
.front #block-views-product-block-block-2 {
  float: left;
  position: relative;
  clear: none;
}

.front #block-views-product-block-block-2 {
  float: right;
  margin-right: 0px;
  position: relative;
}

#block-views-product-block-featured-products {
  display: none;
}

.front #block-views-product-block-featured-products .views-field-title a,
.front #block-views-product-block-new-products .views-field-title a {
  font-size: 13px;
}

.front #block-views-product-block-featured-products .views-row:nth-child(4n),
.front #block-views-product-block-featured-products .views-row:nth-child(8n) {
  float: right;
  margin-right: 0px;
}

#block-views-product-block-featured-products .views-field-commerce-price,
.front #block-views-product-block-new-products .views-field-commerce-price {
  font-size: 28px;
}

.front #block-views-product-block-featured-products .views-row {
  float: left;
  margin-right: 12px;
}

.front #block-views-product-block-new-products .views-field-field-view img {
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

.front #block-views-product-block-featured-products .views-field-title,
.front #block-views-product-block-new-products .views-field-title {
  color: #1e1e1e;
  text-align: center;
}

.front #block-views-product-block-featured-products .views-row img {
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

#block-views-product-block-block-3 .views-row .views-field-field-view {
  margin-top: 10px;
  margin-left: 10px;
}

#block-views-product-block-block-3 .views-row .views-field-title {
  margin-top: 30px;
  margin-left: 5%;
  width: 30%;
}

#triptych .region {
  text-align: center;
}

#triptych .region h2,
#footer-columns .block h2 {
  font-size: 20px;
}

#footer-wrapper {
  padding: 20px;
  overflow: hidden;
}

#second-footer .region-footer-2-firstcolumn {
  float: left;
}

#second-footer #footer-columns .content li {
  list-style: none;
}

#second-footer #footer-columns .block {
  margin-bottom: 0px;
}

#second-footer .region-footer-2-thirdcolumn {
  line-height: 55px;
  margin-top: 0px;
}

.page-products .grid .views-row,
#block-system-main .view-header {
  margin-right: 5px;
}

.page-cart #block-system-main tr td input.form-text {
  width: 45px;
}

#block-views-product-block-block-3 .view-content .field-content img {
  max-width: 100%;
  max-height: 100%;
}

.region-sidebar-first {
  max-width: none;
}

#block-views-product-block-block-3 .views-field-commerce-price {
  width: 50%;
  float: left;
  line-height: 37px;
}

#block-views-product-block-block-3 .views-row .views-field-field-view {
  width: auto;
}

#block-views-product-block-block-3 .views-row .custom-price {
  width: 40%;
  margin-top: 23px;
}

#block-views-product-block-block-3 .views-field-field-commerce-saleprice {
  width: 50%;
  float: left;
}

#block-views-slideshow-partners-block-2 h2 {
  font-size: 20px;
}

#footer-wrapper #footer-columns {
  width: 100%;
}

#second-footer .region-footer-2-firstcolumn {
  width: 30%;
  margin-left: 10px;
}

#second-footer .region-footer-2-thirdcolumn {
  width: 65%;
  margin-right: 10px;
}

#second-footer #footer-columns p {
  font-size: 14px;
}

#second-footer #footer-columns .content li a {
  font-size: 14px;
  line-height: 45px;
}

#footer-columns .content ul {
  float: right;
}

.front #block-views-product-block-block-5 .view-product-block {
  margin-top: 5px;
}

.front .views-field-field-slideshow-image img {
  max-height: 462px;
}

#block-block-3 a,
#block-views-product-block-top-products {
  text-align: center;
}

#block-views-slideshow-partners-block-2 .owl-buttons {
  top: 33%;
}

.page-node-35 #block-views-info-block-block .views-row {
  width: 46%;
}

.page-node-35 #block-views-our-team-block .views-row-1,
.page-node-51 #block-views-info-block-block-1 .views-row-1 {
  margin-right: 4%;
  width: 46%;
}

.page-node-35 #block-views-our-team-block .views-row-2,
.page-node-51 #block-views-info-block-block-1 .views-row-2 {
  float: right;
  width: 46%;
  margin-left: 4%;
  margin-right: 0;
}

.page-node-35 #block-views-our-team-block .views-row-3,
.page-node-51 #block-views-info-block-block-1 .views-row-3 {
  margin-top: 20px;
  float: none;
  margin-right: auto;
  margin-left: auto;
  width: 46%;
}

.page-node-35 #block-views-our-team-block .views-field-field-staff-position {
  top: 30%;
}

.page-node-35 #block-views-our-team-block .views-field-field-staff-name {
  top: 40%;
}

.page-node-35 #block-views-our-team-block .views-field-body,
.page-node-51 #block-views-info-block-block-1 .views-field-body {
  top: 50%;
}

.page-node-35 #block-views-our-team-block {
  margin-top: 30px;
}

.page-node-35 #content h2 {
  margin-bottom: 30px;
}

#partners {
  margin-top: 10px;
}

.page-node-34 .field-item p iframe {
  height: 350px;
}

.page-node-34 h3 {
  font-size: 15px;
}

.page-node-34 tr td ul li {
  font-size: 13px;
  padding-left: 15px;
}

.page-node-34 tr td,
.page-node-34 tr th {
  font-size: 14px;
  padding-left: 5px;
}

.page-node-34 tr td ul {
  padding-left: 5px;
}

.page-node-35 #block-views-our-team-block .views-field-body p {
  font-size: 14px;
}

.page-node-51 #block-views-info-block-block-1 .views-field-body {
  font-size: 13px;
  top: 40%;
}

.page-node-34 tr td,
.page-node-34 tr th {
  font-size: 13px;
}

.page-node-34 #block-webform-client-block-33 {
  margin-left: 50%;
  width: 50%;
}

.page-node-34 #block-block-13 {
  width: 45%;
}

.page-cart .views-field-field-view {
  width: 40%;
  overflow: hidden;
}

.page-cart #block-system-main tr td a {
  left: 90px;
}

#block-system-main .view-header {
  display: none;
}

.page-checkout .commerce-price-formatted-components {
  width: 50%;
}

#block-views-categories-block .content h3.active {
  background-position: 3% 6px;
}

#block-views-categories-block .content .view-content .views-row-first,
#block-views-categories-block .content h3 {
  padding-left: 8%;
}

.grid-mode .product-row {
  width: 50%;
  margin-right: 0;
  float: left;
  padding-bottom: 20px;
}

.front #content .block {
  clear: both;
}

#footer-columns .content ul {
  float: none;
}

#footer-columns .region {
  width: 100%;
  margin-right: 0;
  float: left;
}

#footer-columns .region:nth-child(even) {
  margin-right: 0;
}


#branding #name-and-slogan {
  display: none;
}

.front #slider {
  display: none;
}

.contact-us-page.info-blocks {
  width: 100%;
}

/*# sourceMappingURL=responsive.tablet.portrait.css.map */
