/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

.sidebar-first .content-inner {
  margin-left: 26%;
}

.grid-mode .product-row {
  margin-right: 5%;
  width: 30%;
  float: left;
  padding-bottom: 20px;
}

/*# sourceMappingURL=responsive.desktop.css.map */
